.mainTable {    
    resize: both;
    overflow: auto;
    margin: 0 auto;
    border-spacing: 15px 0;
}

.mainTh {
    padding: 10px 10px;
    background-color: #04AA6D;
    color: white;
}

.mainTr {
    background-color: #f2f2f2;
}

.codeLine{
    white-space: pre-wrap;
}

.lineNumber {
    text-align: center;
}

.testName{
    text-align: center;
}

.functionName {
    text-align: center;
}

.numberOfCalls {
    text-align: center;
}

.coveredLine {
    background-color: lightgreen;
}

.uncoveredLine {
    background-color: lightcoral;
}

.diffFirst {
    background-color: rgb(245, 245, 89);
}

.diffSecond {
    background-color: rgb(253, 176, 32);
}

.badge {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 50px;
}

.headerDiv {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 15px;
    border: 2px solid rgb(254, 254, 254);
    border-radius: 15px;
}

.subheader {
    text-align: center;
    color: white;
}

div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

.collapsible {
    background-color: rgb(200, 199, 199);
    color: rgb(27, 27, 27);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;    
}

.active, .collapsible:hover {
    background-color: #b9936c;
}

.content {    
    padding: 0 18px;
    padding-bottom: 50px;
    display: none;
    overflow: hidden;
    background-color: #626262;    
    overflow: auto;
    white-space: nowrap;

}

.miniheader {
    padding: 40px;
    background: #20806d;
    color: white;
    font-size: 20px;
    border: 2px solid rgb(254, 254, 254);
    border-radius: 15px;
}

.parent{
    display: flex;
}

.float-child {    
    width: 50%;    
    box-sizing: border-box;
}  

.extensionTableTr {
    background-color: #343434;     
}


a:link, a:visited {
    background-color: #277e5e;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
}
  
a:hover, a:active {
    background-color: #1dc582;
}